<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/stylesheets/shim.css">  
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap">

</head>
<body>

    <!-- <div class="w-full px-10 py-3 flex text-white justify-between bg-zinc-800 items-center ">
        <div class="flex gap-10 items-center flex-grow justify-center ">
          <a class="scroll" href="#home">Home</a>
          <a class="scroll" href="#about">About</a>
          <a class="scroll" href="#timeline">Timeline</a>
          <a class="scroll" href="#projects">Projects</a>
          <a class="scroll" href="#contact">Contact</a>
          <a href="/downloadCV">Resume</a>
        </div>

        <div class="flex gap-4 items-center">
      <% if (isDarkMode) { %>    
      <a href="/toggle">
        <svg id="sunIcon" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-black dark:text-white cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18C8.68629 18 6 15.3137 6 12C6 8.68629 8.68629 6 12 6C15.3137 6 18 8.68629 18 12C18 15.3137 15.3137 18 12 18ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16ZM11 1H13V4H11V1ZM11 20H13V23H11V20ZM3.51472 4.92893L4.92893 3.51472L7.05025 5.63604L5.63604 7.05025L3.51472 4.92893ZM16.9497 18.364L18.364 16.9497L20.4853 19.0711L19.0711 20.4853L16.9497 18.364ZM19.0711 3.51472L20.4853 4.92893L18.364 7.05025L16.9497 5.63604L19.0711 3.51472ZM5.63604 16.9497L7.05025 18.364L4.92893 20.4853L3.51472 19.0711L5.63604 16.9497ZM23 11V13H20V11H23ZM4 11V13H1V11H4Z" />
        </svg>
      </a>
      <%}else{%>
        <!-- Moon icon (dark mode) -->
      <!-- <a href="/toggle"> 
       <svg id="moonIcon" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-grey-300 cursor-pointer " fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.3807 2.01886C9.91573 3.38768 9 5.3369 9 7.49999C9 11.6421 12.3579 15 16.5 15C18.6631 15 20.6123 14.0843 21.9811 12.6193C21.6613 17.8537 17.3149 22 12 22C6.47715 22 2 17.5228 2 12C2 6.68514 6.14629 2.33869 11.3807 2.01886Z" />
        </svg>
      </a>
     <%}%>
      </div>
      </div> -->

      <div class="w-full px-5 py-3 flex text-white justify-between bg-zinc-800 items-center">
        <div class="flex items-center">
          <button id="menuToggle" class="lg:hidden focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
          </button>
      
          <div class="hidden lg:flex gap-5 items-center">
            <a class="scroll" href="#home">Home</a>
            <a class="scroll" href="#about">About</a>
            <a class="scroll" href="#timeline">Timeline</a>
            <a class="scroll" href="#projects">Projects</a>
            <a class="scroll" href="#contact">Contact</a>
            <a href="/downloadCV">Resume</a>
          </div>
        </div>
      
        <div id="menuDropdown" class="lg:hidden hidden flex flex-col items-start gap-3 absolute top-16  left-0 bg-zinc-800 px-4 py-2">
          <a class="scroll" href="#home">Home</a>
          <a class="scroll" href="#about">About</a>
          <a class="scroll" href="#timeline">Timeline</a>
          <a class="scroll" href="#projects">Projects</a>
          <a class="scroll" href="#contact">Contact</a>
          <a href="/downloadCV">Resume</a>
        </div>
      
        <div class="flex gap-3 items-center">
          <% if (isDarkMode) { %>    
            <a href="/toggle">
              <svg id="sunIcon" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-black dark:text-white cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18C8.68629 18 6 15.3137 6 12C6 8.68629 8.68629 6 12 6C15.3137 6 18 8.68629 18 12C18 15.3137 15.3137 18 12 18ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16ZM11 1H13V4H11V1ZM11 20H13V23H11V20ZM3.51472 4.92893L4.92893 3.51472L7.05025 5.63604L5.63604 7.05025L3.51472 4.92893ZM16.9497 18.364L18.364 16.9497L20.4853 19.0711L19.0711 20.4853L16.9497 18.364ZM19.0711 3.51472L20.4853 4.92893L18.364 7.05025L16.9497 5.63604L19.0711 3.51472ZM5.63604 16.9497L7.05025 18.364L4.92893 20.4853L3.51472 19.0711L5.63604 16.9497ZM23 11V13H20V11H23ZM4 11V13H1V11H4Z" />
              </svg>
            </a>
            <%}else{%>
             <a href="/toggle"> 
             <svg id="moonIcon" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-grey-300 cursor-pointer " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.3807 2.01886C9.91573 3.38768 9 5.3369 9 7.49999C9 11.6421 12.3579 15 16.5 15C18.6631 15 20.6123 14.0843 21.9811 12.6193C21.6613 17.8537 17.3149 22 12 22C6.47715 22 2 17.5228 2 12C2 6.68514 6.14629 2.33869 11.3807 2.01886Z" />
              </svg>
            </a>
           <%}%>
        </div>
      </div>
      
      <script>
        const menuToggle = document.getElementById('menuToggle');
        const menuDropdown = document.getElementById('menuDropdown');
      
        menuToggle.addEventListener('click', () => {
          menuDropdown.classList.toggle('hidden');
        });
      </script>
      

      <!-- <script>
        function toggleIcons() {
          // Get the icon elements
          const sunIcon = document.getElementById('sunIcon');
          const moonIcon = document.getElementById('moonIcon');
      
          // Toggle the visibility by adding or removing the 'hidden' class
          sunIcon.classList.toggle('hidden');
          moonIcon.classList.toggle('hidden');
        }
      </script> -->