<% include ./partials/header.ejs  %>

<div class="min-h-screen bg-black">

    <div class="myportfolio text-center text-4xl py-10 font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-white to-grey-300">
        My Portfolio
    </div>

    <p class="text-1xl m-auto text-white text-center"> Here is some of my work that I've done in various programming languages.</p>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-8 py-20 w-11/12 mx-auto">
   
    <div class="relative">
        <img class="hover:opacity-0  rounded-3xl z-0" src="https://images.unsplash.com/photo-1703120348470-f9a1ac17c34e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8" alt="">
        <div class="absolute inset-0 flex flex-col z-10 justify-center items-center bg-zinc-500 text-white rounded-3xl opacity-0 hover:opacity-100 transition duration-300 ">
            <h1 class="text-3xl">Pinterest Clone</h1>
            <a href="https://github.com/vaibhav1710/UrlShortner" target="_blank"><i class="ri-github-fill text-3xl"></i></a> 
        </div>
    </div>


    <div class="relative">
        <img class="hover:opacity-0  rounded-3xl z-0" src="https://images.unsplash.com/photo-1703120348470-f9a1ac17c34e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8" alt="">
        <div class="absolute inset-0 flex flex-col z-10 justify-center items-center bg-zinc-500 text-white rounded-3xl opacity-0 hover:opacity-100 transition duration-300 ">
            <h1 class="text-3xl">Pinterest Clone</h1>
            <a href="https://github.com/vaibhav1710/UrlShortner" target="_blank"><i class="ri-github-fill text-3xl"></i></a> 
        </div>
    </div>


    <div class="relative">
        <img class="hover:opacity-0  rounded-3xl z-0" src="https://images.unsplash.com/photo-1703120348470-f9a1ac17c34e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8" alt="">
        <div class="absolute inset-0 flex flex-col z-10 justify-center items-center bg-zinc-500 text-white rounded-3xl opacity-0 hover:opacity-100 transition duration-300 ">
            <h1 class="text-3xl">Pinterest Clone</h1>
            <a href="https://github.com/vaibhav1710/UrlShortner" target="_blank"><i class="ri-github-fill text-3xl"></i></a> 
        </div>
    </div>

    
    <div class="relative">
        <img class="hover:opacity-0  rounded-3xl z-0" src="https://images.unsplash.com/photo-1703120348470-f9a1ac17c34e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8" alt="">
        <div class="absolute inset-0 flex flex-col z-10 justify-center items-center bg-zinc-500 text-white rounded-3xl opacity-0 hover:opacity-100 transition duration-300 ">
            <h1 class="text-3xl">Pinterest Clone</h1>
            <a href="https://github.com/vaibhav1710/UrlShortner" target="_blank"><i class="ri-github-fill text-3xl"></i></a> 
        </div>
    </div>



    <div class="relative">
        <img class="hover:opacity-0  rounded-3xl z-0" src="https://images.unsplash.com/photo-1703120348470-f9a1ac17c34e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8" alt="">
        <div class="absolute inset-0 flex flex-col z-10 justify-center items-center bg-zinc-500 text-white rounded-3xl opacity-0 hover:opacity-100 transition duration-300 ">
            <h1 class="text-3xl">Pinterest Clone</h1>
            <a href="https://github.com/vaibhav1710/UrlShortner" target="_blank"><i class="ri-github-fill text-3xl"></i></a> 
        </div>
    </div>



    <div class="relative">
        <img class="hover:opacity-0  rounded-3xl z-0" src="https://images.unsplash.com/photo-1703120348470-f9a1ac17c34e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8" alt="">
        <div class="absolute inset-0 flex flex-col z-10 justify-center items-center bg-zinc-500 text-white rounded-3xl opacity-0 hover:opacity-100 transition duration-300 ">
            <h1 class="text-3xl">Pinterest Clone</h1>
            <a href="https://github.com/vaibhav1710/UrlShortner" target="_blank"><i class="ri-github-fill text-3xl"></i></a> 
        </div>
    </div>



    <div class="relative">
        <img class="hover:opacity-0  rounded-3xl z-0" src="https://images.unsplash.com/photo-1703120348470-f9a1ac17c34e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8" alt="">
        <div class="absolute inset-0 flex flex-col z-10 justify-center items-center bg-zinc-500 text-white rounded-3xl opacity-0 hover:opacity-100 transition duration-300 ">
            <h1 class="text-3xl">Pinterest Clone</h1>
            <a href="https://github.com/vaibhav1710/UrlShortner" target="_blank"><i class="ri-github-fill text-3xl"></i></a> 
        </div>
    </div>


    <div class="relative">
        <img class="hover:opacity-0  rounded-3xl z-0" src="https://images.unsplash.com/photo-1703120348470-f9a1ac17c34e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8" alt="">
        <div class="absolute inset-0 flex flex-col z-10 justify-center items-center bg-zinc-500 text-white rounded-3xl opacity-0 hover:opacity-100 transition duration-300 ">
            <h1 class="text-3xl">Pinterest Clone</h1>
            <a href="https://github.com/vaibhav1710/UrlShortner" target="_blank"><i class="ri-github-fill text-3xl"></i></a> 
        </div>
    </div>


    <div class="relative">
        <img class="hover:opacity-0  rounded-3xl z-0" src="https://images.unsplash.com/photo-1703120348470-f9a1ac17c34e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8" alt="">
        <div class="absolute inset-0 flex flex-col z-10 justify-center items-center bg-zinc-500 text-white rounded-3xl opacity-0 hover:opacity-100 transition duration-300 ">
            <h1 class="text-3xl">Pinterest Clone</h1>
            <a href="https://github.com/vaibhav1710/UrlShortner" target="_blank"><i class="ri-github-fill text-3xl"></i></a> 
        </div>
    </div>
        

    </div>


</div>

<% include ./partials/footer.ejs  %>